

h1{
    text-align: center;
    font-family: 'Gloock', serif;
    color:white;
    font-size: 2.5em;
}
*{
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
   text-decoration:underline;
}

body{
    font-size: 16px;
    margin: 0 auto;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.main{
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}
.form form{
    padding:10px;
}

.sliders{
    display: flex;
    justify-content:flex-start;
    font-size: 25px;
}
.slide{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.slide_text{
    margin-bottom: 10px;
}
.inner img{
    max-width: 40px;
}
.inner{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice{
    display: block;
    font-size: 15px;
}
.text{
    padding: 0px 20px 0px 5px;
}


.wrapperchart{
    display: flex;
    justify-content: flex-start;
}
.block{
    width:400px;
    height: 28px;
    background-color: grey;
    margin: 10px 10px 10px 0px;
}


.box_chart{
  margin: 0px 10px;  
}
.chart{
    display: flex;
    flex-direction: row;
}
.fig{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.blockwrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
input[type="number"]{
    font-size: 1.0em;
    opacity: 1;
    max-width: 80px;
    border-radius: 5px;
}
.box_chart{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
    }
    .main{
        flex-direction: column-reverse;   
    }
    .wrapperchart{
        flex-direction: column-reverse;
    }
    .sliders{
        flex-direction: column;
    } 
    .box_chart{
        flex-direction:row;
        justify-content: space-between;
        margin-right: 20px;
    }
    .inner{
        flex-direction: column-reverse;
        justify-content: start;
    }
    .slide{
        margin: 0px;
        width: 90vw;
        
    }
    .slide_text span{
        font-size: 1.5em;
    }
    .blockwrap{
        display: flex;
        flex-direction: row;
        margin: 0px 20px;
        height: 400px;
    }
    .fig{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #leftthings{
        width: 100vw;
    }  
    .chart{
        display: flex;
        flex-direction: column-reverse;
    }
    .block{
        margin: 0px;
    }
    #form1{
        margin-top:10px;    
    }
    .text{
        text-align: center;
        padding: 0px;
    }
}

